In [7]:
#Import necessary libraries
import pandas as pd
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [8]:
# Load the dataset (assuming the CSV file is named 'fraud_data.csv')
data = pd.read_csv('Fraud_data.csv')

In [9]:
#Explore the dataset
print(data.head(5))

   step      type    amount     nameOrig  oldbalanceOrg  newbalanceOrig  \
0     1   PAYMENT   9839.64  C1231006815       170136.0       160296.36
1     1   PAYMENT   1864.28  C1666544295        21249.0        19384.72
2     1  TRANSFER    181.00  C1305486145          181.0            0.00
3     1  CASH_OUT    181.00   C840083671          181.0            0.00
4     1   PAYMENT  11668.14  C2048537720        41554.0        29885.86

      nameDest  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud
0  M1979787155             0.0             0.0        0               0
1  M2044282225             0.0             0.0        0               0
2   C553264065             0.0             0.0        1               0
3    C38997010         21182.0             0.0        1               0
4  M1230701703             0.0             0.0        0               0

In [10]:
# Preprocessing
le = LabelEncoder()
data['type'] = le.fit_transform(data['type'])
data['nameOrig'] = le.fit_transform(data['nameOrig'])
data['nameDest'] = le.fit_transform(data['nameDest'])

In [11]:
# Flag transactions above 200 as fraud
# Calculate the average of the "amount" column
average_amount = data["amount"].mean()

data['isFraud'] = (data['amount'] > average_amount).astype(int)
data.head(20)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,3,9839.64,757869,170136.00,160296.36,1662094,0.0,0.00,0,0
1,1,3,1864.28,2188998,21249.00,19384.72,1733924,0.0,0.00,0,0
2,1,4,181.00,1002156,181.00,0.00,439685,0.0,0.00,0,0
3,1,1,181.00,5828262,181.00,0.00,391696,21182.0,0.00,0,0
4,1,3,11668.14,3445981,41554.00,29885.86,828919,0.0,0.00,0,0
5,1,3,7817.71,6026525,53860.00,46042.29,2247218,0.0,0.00,0,0
6,1,3,7107.77,1805947,183195.00,176087.23,2063363,0.0,0.00,0,0
7,1,3,7861.64,2999171,176087.23,168225.59,2314008,0.0,0.00,0,0
8,1,3,4024.36,869140,2671.00,0.00,768940,0.0,0.00,0,0
9,1,2,5337.77,5407276,41720.00,36382.23,282960,41898.0,40348.79,0,0
10,1,2,9644.94,2957937,4465.00,0.00,571261,10845.0,157982.12,0,0
11,1,3,3099.97,3884848,20771.00,17671.03,1791734,0.0,0.00,0,0
12,1,3,2560.74,2129034,5070.00,2509.26,2692147,0.0,0.00,0,0
13,1,3,11633.76,2355062,10127.00,0.00,2501242,0.0,0.00,0,0
14,1,3,4098.78,87083,503264.00,499165.22,1279605,0.0,0.00,0,0
15,1,1,229133.94,6041662,15325.00,0.00,417183,5083.0,51513.44,1,0
16,1,3,1563.82,5569896,450.00,0.00,1386138,0.0,0.00,0,0
17,1,3,1157.86,780183,21156.00,19998.14,1548183,0.0,0.00,0,0
18,1,3,671.64,3396303,15123.00,14451.36,2135630,0.0,0.00,0,0
19,1,4,215310.30,2203561,705.00,0.00,29714,22425.0,0.00,1,0

In [12]:
# Detect  fraud


data['isFraud'] = (data['newbalanceOrig'] > data['oldbalanceOrg']).astype(int)

data['isFraud'] = (data['newbalanceDest'] > data['oldbalanceDest']).astype(int)

data['isFraud'] = ((data['type'] != 3) & (data['type'] != 4) ).astype(int)

# Set isFraud to True where isFlaggedFraud is True
data.loc[data['isFlaggedFraud'] == 1, 'isFraud'] = 1


data.head(50)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,3,9839.64,757869,170136.00,160296.36,1662094,0.0,0.00,0,0
1,1,3,1864.28,2188998,21249.00,19384.72,1733924,0.0,0.00,0,0
2,1,4,181.00,1002156,181.00,0.00,439685,0.0,0.00,0,0
3,1,1,181.00,5828262,181.00,0.00,391696,21182.0,0.00,1,0
4,1,3,11668.14,3445981,41554.00,29885.86,828919,0.0,0.00,0,0
5,1,3,7817.71,6026525,53860.00,46042.29,2247218,0.0,0.00,0,0
6,1,3,7107.77,1805947,183195.00,176087.23,2063363,0.0,0.00,0,0
7,1,3,7861.64,2999171,176087.23,168225.59,2314008,0.0,0.00,0,0
8,1,3,4024.36,869140,2671.00,0.00,768940,0.0,0.00,0,0
9,1,2,5337.77,5407276,41720.00,36382.23,282960,41898.0,40348.79,1,0
10,1,2,9644.94,2957937,4465.00,0.00,571261,10845.0,157982.12,1,0
11,1,3,3099.97,3884848,20771.00,17671.03,1791734,0.0,0.00,0,0
12,1,3,2560.74,2129034,5070.00,2509.26,2692147,0.0,0.00,0,0
13,1,3,11633.76,2355062,10127.00,0.00,2501242,0.0,0.00,0,0
14,1,3,4098.78,87083,503264.00,499165.22,1279605,0.0,0.00,0,0
15,1,1,229133.94,6041662,15325.00,0.00,417183,5083.0,51513.44,1,0
16,1,3,1563.82,5569896,450.00,0.00,1386138,0.0,0.00,0,0
17,1,3,1157.86,780183,21156.00,19998.14,1548183,0.0,0.00,0,0
18,1,3,671.64,3396303,15123.00,14451.36,2135630,0.0,0.00,0,0
19,1,4,215310.30,2203561,705.00,0.00,29714,22425.0,0.00,0,0
20,1,3,1373.43,3550378,13854.00,12480.57,955222,0.0,0.00,0,0
21,1,2,9302.79,1860216,11299.00,1996.21,288088,29832.0,16896.70,1,0
22,1,2,1065.41,3151970,1817.00,751.59,428515,10330.0,0.00,1,0
23,1,3,3876.41,4722358,67852.00,63975.59,1022733,0.0,0.00,0,0
24,1,4,311685.89,3233937,10835.00,0.00,552201,6267.0,2719172.89,0,0
25,1,3,6061.13,142114,443.00,0.00,1193108,0.0,0.00,0,0
26,1,3,9478.39,2205563,116494.00,107015.61,2259983,0.0,0.00,0,0
27,1,3,8009.09,176746,10968.00,2958.91,1938066,0.0,0.00,0,0
28,1,3,8901.99,2077299,2958.91,0.00,1981406,0.0,0.00,0,0
29,1,3,9920.52,5579933,0.00,0.00,1617867,0.0,0.00,0,0
30,1,3,3448.92,3627074,0.00,0.00,1982440,0.0,0.00,0,0
31,1,3,4206.84,3772102,0.00,0.00,1415268,0.0,0.00,0,0
32,1,3,5885.56,5829673,0.00,0.00,1467612,0.0,0.00,0,0
33,1,3,5307.88,2523324,0.00,0.00,1653095,0.0,0.00,0,0
34,1,3,5031.22,3877913,0.00,0.00,1144551,0.0,0.00,0,0
35,1,3,24213.67,783036,0.00,0.00,2395489,0.0,0.00,0,0
36,1,3,8603.42,1999183,253.00,0.00,1257535,0.0,0.00,0,0
37,1,3,2791.42,6101489,300481.00,297689.58,660929,0.0,0.00,0,0
38,1,3,7413.54,1546053,297689.58,290276.03,1046737,0.0,0.00,0,0
39,1,3,3295.19,5403253,233633.00,230337.81,999866,0.0,0.00,0,0
40,1,3,1684.81,1581282,297.00,0.00,1205850,0.0,0.00,0,0
41,1,2,5758.59,1533412,32604.00,26845.41,88066,209699.0,16997.22,1,0
42,1,1,110414.71,5591264,26845.41,0.00,150887,288800.0,2415.16,1,0
43,1,3,7823.46,3920933,998.00,0.00,1907201,0.0,0.00,0,0
44,1,3,5086.48,5032307,0.00,0.00,1232496,0.0,0.00,0,0
45,1,3,5281.48,1447208,152019.00,146737.52,1517102,0.0,0.00,0,0
46,1,3,13875.98,4656186,15818.00,1942.02,1693697,0.0,0.00,0,0
47,1,1,56953.90,1873170,1942.02,0.00,520004,70253.0,64106.18,1,0
48,1,1,5346.89,4749571,0.00,0.00,349730,652637.0,6453430.91,1,0
49,1,3,2204.04,2022762,586.00,0.00,2154983,0.0,0.00,0,0

In [13]:
# Split the data into training and validation sets
X = data.drop(['isFraud', 'isFlaggedFraud'], axis=1)
y = data['isFraud']
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.3, random_state=42)

In [14]:
import time

start_time = time.time()

# Train the model
model = xgb.XGBClassifier()
model.fit(X_train, y_train)

end_time = time.time()
execution_time = end_time - start_time

print("Training time:", execution_time, "seconds")

Training time: 19.464669227600098 seconds

In [21]:
# Make predictions on the validation set
row_to_predict = X_val.iloc[[3]]
y_pred = model.predict(row_to_predict)

In [22]:
if y_pred[0] == 1:
    print("Suspected to be a Fraudlent Transaction.")
else:
    print("Not Fraud")

Not Fraud

###